
body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    align-content: center;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    margin: 0 auto;
   
}
.tooltip {
    /* position: relative;
    display: inline-block; */
    border-bottom: 1px dotted black;
}

.tooltip, .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover, .tooltiptext {
    visibility: visible;
  } 

#graphics{
display:none;
}

#chart_1{
    margin: 0 auto;
    width: 50%;
    padding-bottom:24px;
}

main{
    display:flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden;
}
#cdButton{
    border:none;
    background: none;
    font-size: 16px;
    width:inherit;
    color:black;
    margin-bottom: -18px;
    cursor:pointer;
}

    #cdButton:focus{
    outline: none;
}


#btn-img{
     width: 11px;
     margin-top: -3px;
     padding-top: 0px;
}

#buttons, form{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}


#buttons h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center; 
    font-size: 22px;
    margin-bottom:0;
}

form {
    margin-top:15px;
    margin-bottom: 0;
}
label{
    margin-top:-5px;
    margin-bottom: 0;
}

header{
    text-align:center;
}

footer{
    padding-top:40px;
    text-align:center;
}

header img{
    width: 16px;  
    vertical-align: middle; 
    margin-left: 5px
}

footer img{
    width: 22px;
    vertical-align: middle; 
    margin-left: 5px
}

article#intro_Grafs{
    max-width: 100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    padding-top:10px;
    width:850px;
    align-items: center;
    margin: 0 auto;

}

#intro_Grafs h2{
    display:flex;
    width:inherit;
    justify-content: center;
    text-align: center; 
    padding-top:20px; 
    padding-bottom:20px; 
    font-size: 19px; 
}

#intro_Grafs p{
    display:flex;
    align-items: center;
    align-content:center;
    width:75%;
    height:auto;
    justify-content: center;
    flex-direction: column;
}

#intro_Grafs img{
    width: 130px; 
    vertical-align: middle;
}
/* #flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

#table {    
    height: auto;
    width: 600px;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    padding: 5px;
    /* height:2px; */
}
td{
      text-align: center;
}
th{
text-align:center;
}


td img {
    display: flex;
    flex-direction:row;
    margin: 0 auto;
    align-items: center;
    width: 50px;
    height: 50px; 
    margin-right: -60px; 
    border-radius: 50%; 
    object-fit: cover;
 }

#current_reps h3{
    padding-top:10px;
    text-align:center;
    font-size:22px;
}

input{
    caret-color:cornflowerblue;
}

.faded-input:focus {
    color: black;
}
.faded-input {
    color: gray;
    text-align: center;
}
nav{
    display:flex;
    text-decoration: none;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 0;
    
}

.btn-icon{
    border:none;
    display: flex;
    margin-top:-15px;
    margin-left:102px;
    align-self: center; 
    cursor: pointer; 
    width: 11px;
}

#cd-Input{
    border:none;
    font-size: 12px;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW */
/* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW */
/* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW */
/* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW */
/* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW */
/* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW */


@media screen and (max-width:900px) {

    body {
        max-width: 100%;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
    }

    /* #flex-container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        max-width: 100%;
    } */

    td img {
        display: flex;
        flex-direction:row;
        margin: 0 auto;
        align-items: center;
        width: 50px;
        height: 50px; 
        margin-right: -5px; 
        border-radius: 50%; 
        object-fit: cover;
     }

    #table {    
        height: auto;
        border-collapse: collapse;
        margin: 0 auto;
    }

        
    article#intro_Grafs{
        max-width: 100%;
        width:85%;
    }

    #cdButton{
        border: none;
        background: none;
        font-size: 16px;
        width: inherit;
        margin-bottom: -47px;
        color: black;
        cursor: pointer;
    }
        
        .btn-icon{
            border:none;
            font-size: 12px;
            color:black;
            display: flex;
            flex-direction: column;  
            margin-top: -14px;
            margin-left: 91px;
            margin-top: -17px;
            margin-left: 102px;
            justify-content: center;
            align-self: center; 
            font-weight: bold; 
            cursor: pointer; 
            height: 16px;
        }


        #data-input{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0 auto;
            width: 415px;
            margin-left: -35px;
        }
        form{
            margin-left: 20px;
        }

    #cd-Input{
        width: 139px;
        font-size: 14px;
        margin-left: -17px;
    }
    label{
        margin-left: -16px;
        margin-bottom: 3px;
    }

    h1, h2, h4, h5{
        align-content: center;
        padding-top:30px;
        text-align: center;
        width:325px;
        margin: 0 auto;
    }
    
    #current_reps h3{
            padding-top:20px;
            padding-bottom:20px;
    }
 

    #chart_1{
        margin: 0 auto;
        width: 75%;
        padding-bottom:10px;
    }
}


@media screen and (max-width:590px)  {
    nav{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    }



    #flex-container{
        max-width: 100%;
    }
 
    #current_reps h3{
        margin-left:25px;
    }
    article#intro_Grafs{
        margin-left:35px;
    }

    #table {    
        height: auto;
        text-align: center;
        width: 320px;
        border-collapse: collapse;
        margin: 0 auto;
    }

    td img {
        display: flex;
        flex-direction:row;
        margin: 0 auto;
        align-items: center;
        width: 50px;
        height: 50px; 
        margin-right: -1px; 
        border-radius: 50%; 
        object-fit: cover;
     }
}
